@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 500vh;
    background-color: #33495d;
}
/* ------ Header ------*/

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.6s;
    z-index: 999;
    padding: 30px 0;
}

.sticky{
    background-color: #ebeef0;
    padding: 10px 0;
}

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: lawngreen;*/
    width: 80%;
    margin: auto;
}

.logoNav{
    position: relative;
    width: 60px;
    transition: 0.6s;
}

.mainMenu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainMenu__item{
    position: relative;
    list-style: none;
    display: inline-block;
    margin-left: 25px;
}

.mainMenu__link, .sticky .mainMenu__link{
    position: relative;
    text-decoration: none;
    color: #445963;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
}

.mainMenu__link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #445963;
    transition: width .3s;
}

.mainMenu__link:hover::after{
    width: 100%;
    transition: width .3s;
}

.mainMenu__linkEsp{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    border-radius: 14px;
    background-clip: padding-box;
    background-color: #445963;
    padding: 8px 15px;
    letter-spacing: 2px;
    transition: 0.5s;    
}

.mainMenu__linkEsp:hover{
    background-color: #9d252e;
}


/* ------ Part Home ------*/

.partHome{
    display: flex;
    /*position: relative;
    width: 100%;*/
}

.partHome__split{
    width: 50%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.partHome__splitLeft{
    background: url("") cornflowerblue no-repeat center / cover;
    justify-content: flex-end;
}

.partHome__splitRight{
    background-color: #fcd757;
    align-items: center;
    justify-content: center;
}

.partHome__splitText{
    width: 100%;
    margin: auto;
}

.partHome__title{
    font-size: 18px;
}

.partHome__textContainer{
    width: 50%;
    font-size: 15px;
    text-align: center;
    z-index: 600;
    color: #000;
}

.partHome__middle{
    position: absolute;
    width: 50%;
    background: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.partHome__img{
    width: 100%;
    filter: drop-shadow(15px 10px 50px rgb(41, 41, 41));
}

/* ------ Part Logo ------*/

.logosHome{
    width: 100%;
    height: 25vh;
    background: #e2e5e7;
}

.partLogo{
    width: 80%;
}

